.group_wrapper {
  padding: 12px 12px 2px 12px;
  border: 1px solid grey;
  margin-bottom: 12px;
}
.invalid-feedback{
  //left:50%;
  //position: relative;
}

.form_sub_groups-1 {
  justify-content: flex-end;
}

.form_sub_groups-label {
  text-align: right;
  line-height: 41px;
  font-weight: 600;
}
.btn_help--form {
  i {
    font-size: 18px;
    vertical-align: text-top;
  }
}

.form-group > div,.single_field--wrapper > div {flex:1 1 auto;}
.form-group > div > .react-datepicker__input-container > input{
  height: 42px;
}


.area_modal_select {
  display: flex;
  flex-direction: column;
  column-gap:12px;
}

.square_fields_for_sub_groups {
  margin-bottom: 0;
}

.close_i {
  font-size: 24px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 100;
  align-self: center;
  color: #d7d7d7
}

.close_i:hover {
  color: black;
}



//.single_field > * {
//  vertical-align: middle;
//}
