
$size: 12px;
$time: 1;

// main {
//    width: 100vw;
//    height: 100vh;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    background:  #090707;
// }

.dank-ass-loader {
    .loader_overlay {
        width: 150px;
        height: 150px;
        background: transparent;
        box-shadow: 0px 0px 0px 10000px rgba(100, 100, 100, 0.67), 0px 0px 19px 0px rgba(0, 0, 0, 0.16) inset;
        border-radius: 100%;
        z-index: -1;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    padding-top: 10px;
    width: 110px;
    height: 110px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 10002;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    .row {
        display: flex;
    }
}

.arrow {
    width: 0;
    height: 0;
    margin: 0 (-$size / 2);
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    // border-bottom: ($size * 1.8) solid $color;
    animation: blink $time + s infinite;
    // filter: drop-shadow(0 0 ($size * 1.5) $color);

    &.down {
        transform: rotate(180deg);
    }

    @for $i from 1 through 18 {
        &.outer-#{$i} {
            animation-delay: -($time / 18) * $i + s;
        }
    }

    @for $i from 1 through 6 {
        &.inner-#{$i} {
            animation-delay: -($time / 6) * $i + s;
        }
    }
}

@keyframes blink {
    0% {
        opacity: 0.1;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}
